
* {
    color: rgb(44, 42, 42);
    box-sizing: border-box;

}
body {
    background-image: url("storm.jpg");
}

.display-weather {
    font-family: Garamond, Times, serif;
    border: rgb(240, 230, 230) solid 1px;
    border-radius: 5px;
    background-color: rgb(245, 236, 236);
    /* position: relative;
    left: 90px; */
    text-align: center;
    margin-top: 15px;

}
.display-weather h2 {
    font-size: 30px;
    font-weight: bold;

}

.display-weather p {
   
    font-weight: bold;
    font-size: 20px;
    color: rgb(16, 16, 75);

}

.main-heading {

color: rgb(223, 215, 215);
font-size: 100px;
font-family: 'Roboto Slab', serif;
text-shadow: 2px 2px 4px #000000;
text-align: center;
}

.trash {
text-align: right;
}

.commment-heading {

 text-decoration: underline;
}
.display-comments {

 color: rgb(17, 17, 70);
}

